/* Umum */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0fff2;
    color: #333;
}

/* Header */
header {
    background-color: #0c5e25;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Layout utama */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Artikel */
article {
    flex: 2;
    min-width: 300px;
}

.makanan {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.menu {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 15px;
    max-width: 300px;
    text-align: center;
}

.menu img {
    width: 100%;
    border-radius: 10px;
}

/* Aside */
aside {
    flex: 1;
    background-color: #fff1e6;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

aside img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #ff914d;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

/* Responsif */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .makanan {
        flex-direction: column;
        align-items: center;
    }

    aside {
        margin-top: 20px;
        width: 90%;
    }
}